DEFAULT @ID@

LABEL @ID@
    SAY Starting @DIST@... Sit tight! :)
    KERNEL /boot/bzImage
    APPEND root=/dev/sr0 rootfstype=iso9660 ro init=/sbin/init console=tty1 tsc=unstable loglevel=4 atkbd.extra=1
